.category__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: center;
  color: #3C4043;
}

.button, .stability__text, .benefits__text, .goods__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.1;
  line-height: 1.5;
  text-align: center;
}

.subscribe__title, .stability__title, .benefits__title, .goods__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  text-align: center;
}

.button {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #3C4043;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #3C4043;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul,
p,
h1,
h2,
h3,
li {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #3C4043;
}

.container {
  width: 100%;
  margin-bottom: 80px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/Roboto-Regular.ttf) format("ttf");
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.header__nav a {
  position: relative;
  padding-top: 21px;
  padding-bottom: 15px;
  transition: color 500ms linear, fill 500ms linear;
}
.header__nav a:hover, .header__nav a:focus {
  color: #1967D2;
  fill: #1967D2;
}
.header__nav-link.current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1967D2;
}
.header__nav-logo {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 21px;
}
.header__nav-list {
  display: flex;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}
.header__nav-item:not(:last-child) {
  margin-right: 20px;
}
.header__tool-list {
  display: flex;
}
.header__tool-item:not(:last-child) {
  margin-right: 24px;
}
.header__tool-item a {
  padding-top: 16px;
  padding-left: 16px;
}
.header__container div {
  background-color: #1967D2;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 1;
  padding-top: 17px;
  padding-bottom: 22px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 164px;
  padding-left: 129px;
}
.hero__title {
  margin-bottom: 22px;
  font-size: 58px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 2px;
  color: #3C4043;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.hero__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #3C4043;
}
.hero__button-list {
  display: flex;
}
.hero__button:not(:last-child) {
  margin-right: 25px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero2@.jpg");
    background-size: 1280px 600px;
  }
}
.flagman__container {
  margin-top: 80px;
  padding-bottom: 112px;
  border-bottom: 2px solid #80868B;
}
.flagman__title {
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #3C4043;
  text-align: center;
}
.flagman__text {
  font-size: 16px;
  line-height: 1.5;
  color: #3C4043;
}

.flagman__list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  align-items: flex-start;
}
.flagman__item {
  width: 100%;
  cursor: pointer;
  transition: transform 250ms linear;
}
.flagman__item:hover, .flagman__item:focus {
  transform: scale(1.1);
}

.flagman__thumb {
  position: relative;
  width: 100%;
}

.flagman img {
  margin-bottom: 20px;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.thumb-sup {
  position: absolute;
  width: 30px;
  height: 15px;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: #1967D2;
  cursor: pointer;
  transition: border 250ms linear;
}
.thumb-sup:hover, .thumb-sup:focus {
  border: 2px solid #1967D2;
}

.flagman__item:last-child img {
  max-height: 215px;
}

.colaboration__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.colaboration__thumb {
  background-color: #F8F9FA;
  border-radius: 0px 28px 28px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.colaboration__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 26px;
  padding-top: 194px;
  padding-left: 117px;
  padding-right: 185px;
  color: #3C4043;
}
.colaboration__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 117px;
  padding-right: 115px;
  color: #3C4043;
}
.colaboration__link {
  padding-left: 115px;
  padding-right: 400px;
  color: #1967D2;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-gap: 24px;
  grid-auto-rows: 395px;
  grid-auto-flow: dense;
}
.goods__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #E9E3DB;
}
.goods__item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.goods__item:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
}
.goods__item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 0px 0px 28px 28px;
}
.goods__item:nth-child(4) img {
  border-radius: 0px 0px 28px 28px;
  border-top: 2px solid #D6E2DB;
}
.goods__item:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 7;
}
.goods__item:nth-child(-n+3) {
  background-color: #E9E3DB;
  border-radius: 28px;
}

.goods__text {
  margin-bottom: 15px;
}
.goods__title {
  margin-bottom: 25px;
}

.goods__thumb0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.goods__thumb0 .goods__title {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
}

.goods__thumb1 {
  border-radius: 28px 28px 0px 0px;
  background-color: #D6E2DB;
}

.goods__item:last-child .goods__thumb1 {
  background-color: #EFDDCD;
}

.goods__item:last-child .thumb-content {
  padding-bottom: 2px;
}

.goods__thumb1 .goods__title {
  padding-left: 130px;
  padding-right: 130px;
}

.goods__thumb1 .goods__text {
  padding-top: 40px;
}

.category__title {
  margin-bottom: 43px;
}
.category__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 24px;
}
.category__item {
  text-align: center;
}
.category__image {
  border-radius: 28px;
}
.category__link {
  color: #1967D2;
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.benefits__list .thumb0 {
  height: 100%;
  border-radius: 28px 28px 0px 0px;
  background-color: #F3F2F1;
}
.benefits__list :last-child .thumb0 {
  background-color: #E7EBEE;
}
.benefits__text {
  padding-top: 40px;
  margin-bottom: 15px;
}
.benefits__title {
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 25px;
}
.benefits__item:last-child .benefits__button {
  margin-bottom: 88px;
}

.stability__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.stability__thumb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding-right: 180px;
}
.stability__title {
  text-align: left;
  margin-bottom: 20px;
}
.stability__text {
  text-align: left;
  margin-bottom: 22px;
}

.subscribe__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}
.subscribe__icon {
  margin-bottom: 16px;
}
.subscribe__title {
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 42px;
}
.subscribe__button {
  margin-bottom: 28px;
}
.subscribe__link {
  color: #1967D2;
  margin-bottom: 118px;
}
.subscribe__text {
  margin-left: 22px;
  margin-right: 22px;
  font-size: 12px;
  line-height: 1.67;
}

sup {
  margin-left: 22px;
}

.feedback__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 35px;
}
.feedback__list1 {
  grid-column-start: 5;
  grid-column-end: 6;
}
.feedback__list1 :not(:last-child) {
  margin-bottom: 24px;
}
.feedback__list2 {
  grid-column-start: 6;
  grid-column-end: 7;
}
.feedback__list2 :not(:last-child) {
  margin-bottom: 24px;
}
.feedback__item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #3C4043;
}
.feedback__link {
  transition: color 500ms linear;
}
.feedback__link:hover, .feedback__link:focus {
  color: #1967D2;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #F2F2F2;
}
.footer__social-list, .footer__contacts {
  display: flex;
  padding-top: 17px;
}
.footer__social-item:not(:last-child) {
  margin-right: 16px;
}
.footer__contacts-item:not(:last-child) {
  margin-right: 40px;
}
.footer__contacts-item:first-child {
  margin-right: 12px;
}
.footer__contacts {
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
  color: #423F3F;
}

.main-button {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border: 2px solid #5F6368;
  transition: background-color 250ms linear, color 250ms linear;
}
.main-button:hover, .main-button:focus {
  background-color: #5F6368;
  color: white;
}

.thumb-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  color: #202124;
  transition: background-color 250ms linear, color 250ms linear;
}

.goods__button {
  transition: background-color 250ms linear, color 250ms linear;
}
.goods__button:hover, .goods__button:focus {
  background-color: #3C4043;
  color: #E9E3DB;
}

.thumb-button {
  transition: background-color 250ms linear, color 250ms linear;
}
.thumb-button:hover, .thumb-button:focus {
  background-color: #3C4043;
  color: #D6E2DB;
}

.goods__item:last-child:last-child .thumb-button, .goods__item:last-child .thumb-button {
  transition: background-color 250ms linear, color 250ms linear;
}
.goods__item:last-child:last-child .thumb-button:hover, .goods__item:last-child:last-child .thumb-button:focus, .goods__item:last-child .thumb-button:hover, .goods__item:last-child .thumb-button:focus {
  background-color: #3C4043;
  color: #EFDDCD;
}

.goods__item:last-child button {
  margin-bottom: 50px;
}

.benefits__item:first-child .benefits__button {
  margin-bottom: 88px;
  transition: color 250ms linear, background-color 250ms linear;
}
.benefits__item:first-child .benefits__button:hover, .benefits__item:first-child .benefits__button:focus {
  color: #F3F2F1;
}

.benefits__item:last-child .benefits__button {
  margin-bottom: 88px;
  transition: color 250ms linear, background-color 250ms linear;
}
.benefits__item:last-child .benefits__button:hover, .benefits__item:last-child .benefits__button:focus {
  color: #E7EBEE;
}

.stability__button {
  margin-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background-color 250ms linear, color 250ms linear;
}
.stability__button:hover, .stability__button:focus {
  background-color: #3C4043;
  color: white;
}

.subscribe__button {
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.subscribe__button:hover, .subscribe__button:focus {
  border-color: #8AB4F8;
  background-color: #8AB4F8;
  color: white;
}

.bounce {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bounce span {
  animation: bounce 2s 1;
  margin-right: 5px;
}

.wrapper {
  max-width: 380px;
}

.subwrapper {
  width: 100%;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-20px);
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.3s;
}

.ten span:nth-of-type(2) {
  animation-delay: 0.5s;
}

.ten span:nth-of-type(3) {
  animation-delay: 0.7s;
}

.ten span:nth-of-type(4) {
  animation-delay: 0.9s;
}

.ten span:nth-of-type(5) {
  animation-delay: 1.1s;
}

.ten span:nth-of-type(6) {
  animation-delay: 1.3s;
}

.ten span:nth-of-type(7) {
  animation-delay: 1.5s;
}

.ten span:nth-of-type(8) {
  animation-delay: 1.7s;
}

.ten span:nth-of-type(9) {
  animation-delay: 1.9s;
}

.ten span:nth-of-type(10) {
  animation-delay: 0.3s;
}

.ten span:nth-of-type(11) {
  animation-delay: 0.5s;
}

.ten span:nth-of-type(12) {
  animation-delay: 0.7s;
}

.hero__title {
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url("../img/hero-title.jpg") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation-duration: 25000ms;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.hero__button:first-child .main-button {
  animation-name: MainBtnAnm1;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.hero__button:last-child .main-button {
  animation-name: MainBtnAnm2;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes MainBtnAnm1 {
  0% {
    opacity: 0;
    scale: 0;
  }
  25% {
    opacity: 0.5;
    scale: 0.5;
  }
  50% {
    opacity: 0.75;
    scale: 0.75;
  }
  75% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes MainBtnAnm2 {
  0% {
    opacity: 0;
    scale: 1.2;
  }
  25% {
    opacity: 0.5;
    scale: 1.15;
  }
  50% {
    opacity: 0.75;
    scale: 1.1;
  }
  75% {
    opacity: 1;
    scale: 1.05;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.flagman__item, .goods__item, .category__item, .benefits__item {
  cursor: pointer;
  transition: transform 250ms linear;
}
.flagman__item:hover, .flagman__item:focus, .goods__item:hover, .goods__item:focus, .category__item:hover, .category__item:focus, .benefits__item:hover, .benefits__item:focus {
  transform: scale(1.025);
}/*# sourceMappingURL=main.css.map */