
.bounce {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.bounce span {

    animation: bounce 2s 1;
    margin-right: 5px;
}
.wrapper {
    max-width: 380px;
}
.subwrapper {
width: 100%;
}
@keyframes bounce {
    0%,
    50%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-20px);
        opacity: 0.25;
    }
    50% {

        opacity: 0.5;
    }
    75% {

        opacity: 0.75;
    }
}

.ten span:nth-of-type(1) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(2) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(3) {
    animation-delay: 0.7s;
}
.ten span:nth-of-type(4) {
    animation-delay: 0.9s;
}
.ten span:nth-of-type(5) {
    animation-delay: 1.1s;
}
.ten span:nth-of-type(6) {
    animation-delay: 1.3s;
}
.ten span:nth-of-type(7) {
    animation-delay: 1.5s;
}
.ten span:nth-of-type(8) {
    animation-delay: 1.7s;
}
.ten span:nth-of-type(9) {
    animation-delay: 1.9s;
}
.ten span:nth-of-type(10) {
    animation-delay: 0.3s;
}
.ten span:nth-of-type(11) {
    animation-delay: 0.5s;
}
.ten span:nth-of-type(12) {
    animation-delay: 0.7s;
}




  
  .hero__title {
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url('../img/hero-title.jpg') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    animation-duration: 25000ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }
@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.hero__button:first-child .main-button {
    animation-name: MainBtnAnm1;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;


}
.hero__button:last-child .main-button {
    animation-name: MainBtnAnm2;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;


}
@keyframes MainBtnAnm1 {
    0% {
        opacity: 0.0;
        scale: 0.0;
    }
    25% {
        opacity: 0.5;
        scale: 0.5;
    }
    50% {
        opacity: 0.75;
        scale: 0.75;
    }
    75% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 1;
        scale: 1;
        
    }
}

@keyframes MainBtnAnm2 {
    0% {
        opacity: 0.0;
        scale: 1.20;
    }
    25% {
        opacity: 0.5;
        scale: 1.15;
    }
    50% {
        opacity: 0.75;
        scale: 1.1;
    }
    75% {
        opacity: 1;
        scale: 1.05;
    }
    100% {
        opacity: 1;
        scale: 1;
        
    }
}
