.flagman {
    // height: 556px;
    &__container {
        margin-top: 80px;
        padding-bottom: 112px;
        border-bottom: 2px solid #80868B;

    }
    &__title {
        margin-bottom: 90px;
        font-weight: 400;
        font-size: 16px;
        line-height: (19 / 16);
        color: $main-color;
        text-align: center;
    }
    &__text {
        font-size: 16px;
        line-height: (24 / 16);
        color: $main-color;

    }
}


// GRID

.flagman {
    &__list {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        // grid-auto-rows: minmax(50px, auto );
        grid-column-gap: $main-distance;
        align-items: flex-start;
    }
    &__item {
        width: 100%;
        cursor: pointer;
        transition: transform 250ms linear;
        &:hover, &:focus {
            transform: scale(1.1); 
    }
    }

}
.flagman__thumb {
    position: relative;
    width: 100%;



}
.flagman img {
    // width: max-content;
    // height: max-content;
    margin-bottom: 20px;
    background-color: #F8F9FA;
    border-radius: 20px;

}

.thumb-sup {
    position: absolute;
    width: 30px;
    height: 15px;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    line-height: (18 / 12);
    color: $link-color;
    cursor: pointer;
    transition: border 250ms linear;
    
    &:hover, &:focus {
        border: 2px solid $link-color;
  
    }
}

