.hero {
    max-width: 1600px;
    height: 600px;
    background-image: url('../img/hero.jpg');


&__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 164px;
    padding-left: 129px;

}
&__title {
    margin-bottom: 22px;
font-size: 58px;
font-weight: 400;
line-height: 1.19;
letter-spacing: 2px;
color: $main-color;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: left;
}
&__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: $main-color;
}
&__button-list {
    display: flex;
}
&__button:not(:last-child) {
    margin-right: 25px;
}
}
@media (min-device-pixel-ratio: 2) ,
    (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: url('../img/hero2@.jpg');
            background-size: 1280px 600px;
        }
    }

